/*  
* Style by D3NN7
* and Patrick Hlauke (https://codepen.io/patrickhlauke/pen/YaoBop)
*/


html { 
  background: #111;

         font-family: Noto Sans Display;
         color: #eee;
         font-size: 1em;
         line-height: 1;
         text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
         letter-spacing: 0.125em;
         animation-duration: 0.00001s;
         animation-name: textflicker;
         animation-iteration-count: infinite;
         animation-direction: alternate;
  }

  #photo-crt {
    box-shadow: 0.03rem 0 0.03rem #ea36af, -0.075rem 0 0.0rem #75fa69;
    padding: 0;
    border-radius: 5%;
    animation-duration: 0.00001s;
    animation-name: boxflicker;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

 section {
    box-shadow: 0.01rem 0 0.1rem #ea36af;
    animation-duration: 0.00001s;
    animation-name: boxflicker;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  

  
  @keyframes textflicker {
    from {
      text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
    }
    to {
      text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
    }
  }