.old-photo {
  filter: 
    contrast(1.2) 
    brightness(1.1) 
    sepia(0.2) 
    saturate(1.5) 
    grayscale(0.1)
    url('../../public/grain.svg#grain');
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.rimRotate {
  border-radius: 10%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rimRotate .inner {
  position: relative;
  z-index: 1;
  width: 100%;
}


@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.rimRotate .inner {
  margin: 3px;
}

.rimRotate::before {
  content: "";
  display: block;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    var(--color-burnt-orange) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  height: 300px;
  width: 100px;
  transform: translate(0);
  position: absolute;
  animation: rotate 5s linear forwards infinite;
  z-index: 0;
  top: 50%;
  transform-origin: top center;
}

